@import url("https://fonts.googleapis.com/css2?family=Galada&family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");
/******** RESET ********/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.005rem;
  word-spacing: 0.1rem;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #bd6dff;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

p {
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  color: #000;
}

h1, h2, h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1, h2, h3 {
  font-family: "Galada", cursive;
}

h1, .contacto h2, .estudio h2, .staff h2, .noticias h2, .recientes h2 {
  font-size: 2.42rem;
}

h2, .estudio h3, .staff h3 {
  font-size: 1.87rem;
}

h3, .staff ul .article div h4 {
  font-size: 1.32rem;
}

h4, .staff ul .article div h5, .staff ul .article div h6 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.935rem;
}

h6 {
  font-size: 0.737rem;
}

/******** FIN DE RESET ********/
/******** ESTILOS GENERALES UTILES ********/
.no-display {
  display: unset;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.italic {
  font-style: italic;
}

.noticias .noticias_parrafo.noticias_parrafo-centrado, .recientes .noticias_parrafo.noticias_parrafo-centrado, .noticias .noticias_titulo.noticias_titulo-centrado, .recientes .noticias_titulo.noticias_titulo-centrado {
  text-align: center;
}

.noticias.noticias-encuadre, .recientes.noticias-encuadre {
  border: #000 0.2rem solid;
}

/******** FIN DE ESTILOS GENERALES UTILES ********/
/******** ESTILOS DEL LOGO ********/
.logo {
  width: 5rem;
}

/******** FIN DE ESTILOS DEL LOGO ********/
/******** HEADER ********/
header {
  position: sticky;
  top: 0px;
  background-color: #000000;
  z-index: 16;
  /*ESTE NUMERO ES ASI PORQUE LOS INDICADORES DE BOOSTRAP TIENEN Z-INDEX 15*/
}
header div {
  display: flex;
  font-size: 1.1rem;
  align-items: center;
  justify-content: space-between;
  /******** ESTILOS DEL ICONO DE MENU ********/
  /******** ESTILOS DE LA NAVEGACION ********/
}
header div .menu {
  font-size: 1.5rem;
}
@media only screen and (min-width: 600px) {
  header div .menu {
    display: none;
  }
}
header div a {
  color: #ffffff;
}
header div nav {
  /******** ESTILOS DEL NAV PARA MOBILE ********/
}
header div nav .close {
  font-size: 1.5rem;
}
@media only screen and (min-width: 600px) {
  header div nav .close {
    display: none;
  }
}
header div nav .nav {
  align-items: center;
}
header div nav .nav li {
  margin-left: 0.75rem;
  transition: transform 0.1s;
  text-transform: uppercase;
}
header div nav .nav li a {
  font-weight: 700;
}
header div nav .nav li:hover {
  transform: scale(1.15);
}
@media only screen and (min-width: 600px) {
  header div nav .redes {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  header div nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100vh;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
    transition: left 0.5s;
    /******** ESTILOS PARA REDES ********/
  }
  header div nav .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  header div nav .nav li {
    margin-bottom: 2rem;
    margin-left: 0;
    transition: transform 0.1s;
  }
  header div nav .nav li a {
    font-weight: 700;
  }
  header div nav .nav li:hover {
    transform: scale(1.15);
  }
  header div nav#menu:target {
    left: 0;
  }
  header div nav .close {
    display: inline;
    width: fit-content;
  }
  header div nav .redes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  header div nav .redes .instagram, header div nav .redes .youtube {
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
  }
  header div nav .redes .instagram p, header div nav .redes .youtube p {
    color: #ffffff;
    margin: 0px;
    padding-right: 1rem;
    font-size: 0.75rem;
    display: none;
  }
}
@media only screen and (max-width: 600px) and (min-width: 300px) {
  header div nav .redes .instagram p, header div nav .redes .youtube p {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  header div nav .redes .instagram .media, header div nav .redes .youtube .media {
    font-size: 2rem;
    padding-right: 1rem;
  }
}

/******** FIN DEL HEADER ********/
/******** FOOTER ********/
footer {
  background-color: #fff;
  color: #000;
  font-weight: 400;
  font-size: 0.7rem;
  margin-top: 2rem;
  /******** ESTILOS DE ICONOS DE REDES ********/
}
footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .media {
  font-size: 3rem;
  background-color: #fff;
  color: #000;
  display: none;
}
footer .media:hover {
  color: #bd6dff;
}
@media only screen and (min-width: 1024px) {
  footer .media {
    display: inline-block;
  }
}

/******** FIN DEL FOOTER ********/
/******** HOME ********/
/******** ESTILOS DE ADAPTACION DEL CARUSEL DE BOOTSTRAP ********/
.carousel {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 2rem;
}
.carousel .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.carousel .carousel-inner {
  width: 100%;
}
.carousel .carousel-inner li img {
  width: 100%;
}

/******** ESTILOS PARA EL CLUB EN CASA ********/
.en-casa {
  background-color: #bd6dff;
  color: #ffffff;
}
.en-casa .container {
  padding: 1.5rem 0;
}
.en-casa .container h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.en-casa .container .info p {
  color: #ffffff;
}
.en-casa .container img {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .en-casa .container {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: auto auto;
    grid-template-areas: "titulo img" "texto img";
    gap: 1rem;
  }
  .en-casa .container h2 {
    grid-area: titulo;
  }
  .en-casa .container .info {
    grid-area: texto;
  }
  .en-casa .container img {
    grid-area: img;
    margin: auto;
  }
}

/******** ESTILOS PARA ESCENA EL CLUB ********/
.escena-el-club article {
  padding: 1.5rem 0;
}
.escena-el-club article img {
  width: 100%;
}
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .escena-el-club article {
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-rows: auto auto;
    grid-template-areas: "titulo img" "texto img";
    gap: 1rem;
  }
  .escena-el-club article h2 {
    grid-area: titulo;
  }
  .escena-el-club article .info {
    grid-area: texto;
  }
  .escena-el-club article img {
    grid-area: img;
    margin: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .escena-el-club {
    display: flex;
    justify-content: space-between;
  }
  .escena-el-club article {
    width: 48%;
  }
}

/******** FIN DE HOME ********/
/******** NOTICIAS ********/
/*Los estilos aqui se aplican tambien a las noticias
recientes presentes en la pagina de HOME*/
.noticias, .recientes {
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: space-around;
  margin-bottom: 1rem;
  /******** ESTILOS PARA LAS CARDS DE NOTICIAS ********/
  /******** ESTILOS ESPECIFICOS PARA NOTICIAS RECIENTES ********/
}
.noticias li, .recientes li {
  width: 100%;
  margin-bottom: 1.25rem;
  box-shadow: 0.4rem 0.25rem 1rem rgba(0, 0, 0, 0.3);
  border: 0.02rem solid transparent;
  transition: transform 0.2s;
}
.noticias li:hover, .recientes li:hover {
  border: 0.02rem solid #bd6dff;
  transform: scale(1.05);
}
.noticias li h3, .recientes li h3 {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
}
.noticias li img, .noticias li h3, .recientes li img, .recientes li h3 {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .noticias li, .recientes li {
    width: 40%;
    margin: 1rem;
  }
}
@media only screen and (min-width: 1024px) {
  .noticias li, .recientes li {
    width: 20%;
  }
}
.noticias .recientes, .recientes .recientes {
  justify-content: space-around;
  margin-bottom: 1rem;
}
.noticias .recientes .noticia4, .recientes .recientes .noticia4 {
  display: none;
}
@media only screen and (min-width: 600px) {
  .noticias .recientes .noticia4, .recientes .recientes .noticia4 {
    display: unset;
  }
}

/******** FIN DE NOTICIAS ********/
/******** STAFF ********/
.staff {
  /******** ESTILOS PARA LAS CARDS DEL STAFF ********/
}
.staff ul {
  flex-direction: column;
}
.staff ul .article {
  width: unset;
  margin-bottom: 1.25rem;
  box-shadow: 0.4rem 0.25rem 1rem rgba(0, 0, 0, 0.3);
  border: 0px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto auto;
  grid-template-areas: "img img" "data nada" "data insta";
  /******** ESTILOS DE LAS IMAGENES ********/
  /******** ESTILOS DE LOS DATOS DE LAS CARDS ********/
  /******** ESTILOS DEL ICONO DE INSTAGRAM ********/
}
.staff ul .article img {
  width: 100%;
  grid-area: img;
}
@media only screen and (min-width: 600px) {
  .staff ul .article img {
    width: 300px;
  }
}
@media only screen and (min-width: 700px) {
  .staff ul .article img {
    width: 400px;
  }
}
@media only screen and (min-width: 1078px) {
  .staff ul .article img {
    width: 250px;
  }
}
.staff ul .article div {
  grid-area: data;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  padding-right: 0px;
}
.staff ul .article div .nombre {
  margin-bottom: 0.25rem;
}
.staff ul .article div .estilo {
  margin-bottom: 0.25rem;
}
.staff ul .article div .nivel {
  text-decoration: underline;
  font-weight: 400;
}
.staff ul .article div .horarios {
  font-weight: 400;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}
.staff ul .article .instagram {
  grid-area: insta;
  display: inline-block;
}
.staff ul .article .instagram i {
  font-size: 3.5rem;
  background-color: transparent;
}
@media only screen and (min-width: 1078px) {
  .staff ul .article .instagram i {
    font-size: 2rem;
  }
}
.staff ul .article .instagram:hover {
  animation-name: agitar;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}
@media only screen and (min-width: 600px) {
  .staff ul .article {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas: "img data nada" "img data insta";
  }
}
@media only screen and (min-width: 1078px) {
  .staff ul .article {
    width: 49%;
  }
}
@media only screen and (min-width: 600px) {
  .staff ul {
    flex-direction: column;
  }
}
@media only screen and (min-width: 1078px) {
  .staff ul {
    justify-content: space-between;
    flex-direction: row;
  }
}

/******** ANIMACIONES ********/
@keyframes agitar {
  25% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(-45deg);
  }
}
/******** FIN DE STAFF ********/
/******** ESTUDIO ********/
.estudio {
  /******** ESTILOS PARA LAS GALERIAS DE LAS SALAS ********/
}
.estudio video {
  width: 100%;
}
.estudio h2, .estudio h3 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.estudio article {
  margin-bottom: 1rem;
  gap: 0.5rem;
}
.estudio article .imagen1, .estudio article .imagen2, .estudio article .imagen3, .estudio article .imagen4 {
  width: 100%;
}
.estudio article .imagen1 img, .estudio article .imagen2 img, .estudio article .imagen3 img, .estudio article .imagen4 img {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .estudio article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "titulo titulo" "imagen1 imagen1" "imagen2 imagen4" "imagen3 imagen4";
    /*Lo siguiente es utilizado para mostrar
    de diferente manera la disposicion de las
    imagenes*/
  }
  .estudio article h3 {
    grid-area: titulo;
  }
  .estudio article .imagen1 {
    grid-area: imagen1;
  }
  .estudio article .imagen2 {
    grid-area: imagen2;
  }
  .estudio article .imagen3 {
    grid-area: imagen3;
  }
  .estudio article .imagen4 {
    grid-area: imagen4;
    margin: auto;
  }
  .estudio article.invertido {
    grid-template-areas: "titulo titulo" "imagen1 imagen1" "imagen4 imagen2" "imagen4 imagen3";
  }
}

/******** ESTILOS PARA LOS MODALES ********/
.modal-estudio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  z-index: 17;
  /******** DISPOSICION DE LOS ELEMENTOS ********/
}
.modal-estudio .modal {
  width: 100%;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 2rem 1fr;
  grid-template-areas: "nada imagen cerrar" "atras imagen siguiente";
}
.modal-estudio .modal .close, .modal-estudio .modal .previo, .modal-estudio .modal .siguiente {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaaaaa;
  font-size: 1.5rem;
}
.modal-estudio .modal .close {
  grid-area: cerrar;
}
.modal-estudio .modal .previo {
  grid-area: atras;
}
.modal-estudio .modal img {
  grid-area: imagen;
  margin: auto;
  width: 100%;
}
.modal-estudio .modal img.imagen4 {
  max-width: 500px;
}
.modal-estudio .modal .siguiente {
  grid-area: siguiente;
}

/******** ESTILOS PARA MOSTRAR LOS MODALES ********/
#sala1-imagen1:target, #sala1-imagen2:target, #sala1-imagen3:target, #sala1-imagen4:target,
#sala2-imagen1:target, #sala2-imagen2:target, #sala2-imagen3:target, #sala2-imagen4:target,
#sala3-imagen1:target, #sala3-imagen2:target, #sala3-imagen3:target, #sala3-imagen4:target,
#sala4-imagen1:target, #sala4-imagen2:target, #sala4-imagen3:target, #sala4-imagen4:target {
  display: flex;
  justify-content: center;
  align-items: center;
}

/******** FIN DE ESTUDIO ********/
/******** CONTACTO ********/
.contacto {
  /******** ESTILOS DEL FORMULARIO ********/
  /******** ESTILOS PARA REDES ********/
  /******** ESTILOS DEL MAPA DE UBICACION ********/
  /******** ESTILOS PARA DESKTOPS ********/
}
.contacto form {
  margin-bottom: 2rem;
}
.contacto form fieldset {
  width: unset;
  margin-bottom: 1.25rem;
  box-shadow: 0.4rem 0.25rem 1rem rgba(0, 0, 0, 0.3);
  border: 0px;
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: repeat(6, auto);
  font-weight: 700;
  padding: 1rem;
  gap: 0.5rem;
}
.contacto form fieldset .nombre {
  grid-column: 1;
}
.contacto form fieldset .inputN {
  grid-column: 2;
}
.contacto form fieldset .apellido {
  grid-column: 1;
}
.contacto form fieldset .inputA {
  grid-column: 2;
}
.contacto form fieldset .email {
  grid-column: 1;
}
.contacto form fieldset .inputE {
  grid-column: 2;
}
.contacto form fieldset .asunto {
  grid-column: 1/3;
}
@media only screen and (min-width: 600px) {
  .contacto form fieldset .asunto {
    grid-column: 1;
  }
}
.contacto form fieldset .inputAS {
  grid-column: 1/3;
}
@media only screen and (min-width: 600px) {
  .contacto form fieldset .inputAS {
    grid-column: 2;
  }
}
.contacto form fieldset .comentarios {
  grid-column: 1/3;
}
.contacto form fieldset .submit {
  grid-column: 1;
}
.contacto .redes {
  justify-content: space-between;
  margin-bottom: 2rem;
}
.contacto .redes .instagram, .contacto .redes .youtube {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
}
.contacto .redes .instagram div p, .contacto .redes .youtube div p {
  margin: 0px;
  padding-left: 1rem;
}
.contacto .redes .instagram .media, .contacto .redes .youtube .media {
  font-size: 3rem;
}
.contacto iframe {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "titulo titulo" "formulario mapa" "escribenos mapa";
    gap: 1.2rem;
  }
  .contacto h2 {
    grid-area: titulo;
  }
  .contacto form {
    grid-area: formulario;
  }
  .contacto .redes {
    grid-area: escribenos;
  }
  .contacto iframe {
    grid-area: mapa;
    height: 100%;
  }
}

/******** FIN CONTACTO ********/
/******** SIGUENOS ********/
.siguenos {
  position: fixed;
  bottom: 8rem;
  right: 0rem;
  width: 200px;
  background-color: #000;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  align-items: center;
  transform: translateX(160px);
  animation-name: seguinos;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  z-index: 1;
  /******** ESTILOS DE LOS ICONOS ********/
  /******** ESTILOS DEL TEXTO ********/
  /******** ESTILOS PARA TABLETS ********/
}
.siguenos ul {
  padding-left: 0.2rem;
  flex-direction: column;
}
.siguenos ul li {
  width: 40px;
}
.siguenos ul li a {
  text-align: center;
  font-size: 2rem;
  display: block;
  color: #fff;
}
.siguenos ul li a:hover {
  color: #bd6dff;
}
.siguenos p {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff;
}
@media only screen and (min-width: 600px) {
  .siguenos {
    bottom: unset;
    top: 15rem;
    right: 0rem;
  }
}

/******** ANIMACION DE INICIO ********/
/*La animacion funciona como una lengueta,
se expande para mostrar todo su contenido
luego se contrae dejando solo visibles los iconos*/
@keyframes seguinos {
  0% {
    transform: translateX(160px);
  }
  35% {
    transform: translateX(0px);
  }
  65% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(160px);
  }
}
/******** FIN SIGUENOS ********/