@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #bd6dff;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

li{
    list-style: none;
}

i span{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

/*
h1, h2{
    font-family: Fuente de Marca, sans-serif;
}
*/

/******** estilos generales utiles ********/
.font-h1{
    font-size: 2em;
}
.font-h2{
    font-size: 1.5em;
}
.font-h3{
    font-size: 1.17em;
}
.font-h4{
    font-size: 1em;
}
.font-h5{
    font-size: 0.83em;
}
.font-h6{
    font-size: 0.67em;
}

.no-display{
    display: unset;
}

.conteiner{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.italic{
    font-style: italic;
}

.centrado{
    text-align: center;
}


/******** NAVEGACION ********/
.logo{
    width: 5rem;
}

.media{
    font-size: 3rem;
}


header{
    position: sticky;
    top: 0px;
    background-color: #ffffff;
}

nav{
    display: flex;
    text-transform: uppercase;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    align-items: center;
}

nav ul li{
    margin-left: 0.75rem;
}


/******** FOOTER ********/
footer, footer a{
    background-color: #000000;
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 200;
}
footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/******** HOME ********/
/*-------
aca se pondran los estilos especificos de la pagina de home
(seguramente solo esten los del carrusel de fotos)
-------*/


/******** NOTICIAS ********/
.encuadre{
    border: #000000 0.15rem solid;
}

.noticias li{
    border: 0.02rem solid transparent;
    margin-right: 1rem;
}

.noticias .recientes{
    justify-content: space-around;
}

.noticias li:hover{
    border: 0.02rem solid #bd6dff;
}


/******** STAFF ********/
/*-------aplicar grid a las targetas de profesor-------*/
.staff ul{
    justify-content: space-between;
}

.staff .article{
    margin: 1.5rem 0rem;
    box-shadow: 0.35rem 0.35rem 0.6rem rgba(0, 0, 0, 0.45);
    display: flex;
    width: 45%;
}

.staff h6{
    font-weight: 400;
    text-decoration: underline;
}

.article i{
    font-size: 2rem;
}

/******** ESTUDIO ********/
/*-------aplicar grid a la galeria revisar tamaño de las imagenes-------*/
.estudio div{
    width: 50%;
    display: inline-block;
}
.estudio h1{
    margin: 0rem;
}

.estudio h3{
    margin: 3rem 0rem 2rem 0rem;
}

.imagen1{
    width: 100%;
}


/******** CONTACTO ********/
/*-------aplicar grid a esta pagina-------*/
.contacto div{
    display: inline-block;
    width: 45%;
    margin-right: 0rem;
    vertical-align: top;
}


/******** SIGUENOS ********/
.siguenos{
    position: fixed;
    bottom: 20px;
    right: 5px;
    width: auto;
}
.siguenos a{
    font-size: 3rem;
    display: block;
    text-align: center;
}


/*
-------de momento no son necesarias-------
.block{
    display: block;
}

.inline-block{
    display: inline-block;
}
*/