@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #bd6dff;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

li{
    list-style: none;
}

i span{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
p{
    margin-bottom: 0.5rem;
}

/*
h1, h2{
    font-family: Fuente de Marca, sans-serif;
}
*/

/******** estilos generales utiles ********/
.font-h1{
    font-size: 2rem;
}
.font-h2{
    font-size: 1.5rem;
}
.font-h3{
    font-size: 1.17rem;
}
.font-h4{
    font-size: 1rem;
}
.font-h5{
    font-size: 0.83rem;
}
.font-h6{
    font-size: 0.67rem;
}

.no-display{
    display: unset;
}

.conteiner{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.italic{
    font-style: italic;
}

.centrado{
    text-align: center;
}


/******** NAVEGACION ********/
.logo{
    width: 5rem;
}

.media{
    font-size: 3rem;
    display: none;
}

header{
    position: sticky;
    top: 0px;
    background-color: #ffffff;
}

nav{
    display: flex;
    text-transform: uppercase;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    align-items: center;
}

nav ul li{
    margin-left: 0.75rem;
}


/******** FOOTER ********/
/*-------tengo que corregir que no esta "pegado" al fondo de la pagina------*/
footer{
    background-color: #000000;
    color: #ffffff;
    font-weight: 200;
    font-size: 0.75rem;
}

footer .media{
    font-size: 3rem;
    background-color: #000000;
    color: #ffffff;
}

footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/******** HOME ********/
/*-------
aca se pondran los estilos especificos de la pagina de home
(seguramente solo esten los del carrusel de fotos)
-------*/


/******** NOTICIAS ********/
.encuadre{
    border: #000000 0.15rem solid;
}

.noticias li{
    border: 0.02rem solid transparent;
    margin-right: 0rem;
    margin-bottom: 1rem;
    width: 100%;
}

.noticias img, .noticias h3{
    width: 100%;
}

.noticias{
    justify-content: space-around;
    margin-bottom: 1rem;
}

.noticias li:hover{
    border: 0.02rem solid #bd6dff;
}


/******** STAFF ********/
/*-------aplicar grid a las targetas de profesor-------*/
.staff ul{
    /*justify-content: space-between;*/
    flex-direction: column;
}

.staff .article{
    margin: 1.5rem 0rem;
    box-shadow: 0.35rem 0.35rem 0.6rem rgba(0, 0, 0, 0.45);
}

.staff .article img{
    width: 100%;
}
/*
<div>
    <h4 class="font-h3">Nombre</h4>
    <h5 class="font-h4">Cargo</h5>
    <p>Estilo de danza</p>
    <a href="https://www.instagram.com/mariojuangorena/" target="_blank"><i class="fab fa-instagram"></i></a>
</div>
*/

.staff .article div{
    display: grid;
    grid-template-columns: 1fr 2rem;
    grid-template-rows: repeat(10,auto);
}

.staff .nombre{
    grid-column: 1/3;
}

.staff .estilo{
    grid-column: 1/3;
}
.staff .nivel{
    grid-column: 1/3;
}

.staff .horarios{
    font-weight: 400;
    text-decoration: underline;
    grid-column: 1;
}
.staff .instagram{
    grid-column: 2;
    display: inline-block;
    margin: auto;
}

.staff i{
    grid-area: instagram;
}

.article i{
    font-size: 2rem;
}

/******** ESTUDIO ********/
/*-------aplicar grid a la galeria revisar tamaño de las imagenes-------*/
.estudio article{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,auto);
    grid-template-areas: 
        "titulo titulo"
        "imagen1 imagen1"
        "imagen2 imagen4"
        "imagen3 imagen4";
}
.estudio h3{
    grid-area: titulo;
}
.estudio .imagen1{
    grid-area: imagen1;
}
.estudio .imagen2{
    grid-area: imagen2;
}
.estudio .imagen3{
    grid-area: imagen3;
}
.estudio .imagen4{
    grid-area: imagen4;
}
.estudio h1{
    margin: 0rem;
}

/*.estudio h3{
    margin: 3rem 0rem 2rem 0rem;
}*/

.imagen1,.imagen2,.imagen3,.imagen4{
    width: 100%;
}


/******** CONTACTO ********/
/*-------aplicar grid a esta pagina-------*/
.contacto div{
    display: inline-block;
    width: 45%;
    margin-right: 0rem;
    vertical-align: top;
}


/******** SIGUENOS ********/
.siguenos{
    position: fixed;
    bottom: 20px;
    right: 5px;
    width: auto;
}
.siguenos a{
    font-size: 3rem;
    display: block;
    text-align: center;
}

/******** ESTILOS PARA TABLETS ********/
@media only screen and (min-width: 600px){

}

/******** ESTILOS PARA DESKTOP (O TABLETS GRANDES EN HORIZONTAL) ********/
@media only screen and (min-width: 1024px){
    
}

/*
-------de momento no son necesarias-------
.block{
    display: block;
}

.inline-block{
    display: inline-block;
}
*/