/******** CONTACTO ********/
.contacto{
    h2{
        @extend %font-h1;
    }
    /******** ESTILOS DEL FORMULARIO ********/
    form{
        margin-bottom: $margenSecciones;
        fieldset{
            @include card(unset);
            display: grid;
            grid-template-columns: 5rem 1fr;
            grid-template-rows: repeat(6,auto);
            font-weight: $fuenteGeneralBold;
            padding: 1rem;
            gap: 0.5rem;

            input, textarea, select{
                border-radius: 0;
                border: none;
                padding: 5px;
                box-shadow: 0rem 0rem 0.25rem rgba(0, 0, 0, 0.3);
            }

            .nombre{
                grid-column: 1;
            }
            .inputN{
                grid-column: 2;
            }
            .apellido{
                grid-column: 1;
            }
            .inputA{
                grid-column: 2;
            }
            .email{
                grid-column: 1;
            }
            .inputE{
                grid-column: 2;
            }
            .asunto{
                grid-column: 1/3;
                @media only screen and (min-width: 600px){
                    grid-column: 1;
                }
            }
            .inputAS{
                grid-column: 1/3;
                @media only screen and (min-width: 600px){
                    grid-column: 2;
                }
            }
            .comentarios{
                grid-column: 1/3;
            }
            .submit{
                grid-column: 1;
            }
        }
    }
    /******** ESTILOS PARA REDES ********/
    .redes{
        justify-content: space-between;
        margin-bottom: $margenSecciones;
        .instagram, .youtube{
            display: flex;
            align-items: center;
            margin-bottom: $margenParrafos;
            div{
                p{
                    margin: 0px;
                    padding-left: 1rem;
                    color: inherit;
                }
            }
            .media{
                font-size: $tamanoIconoMedia;
            }
        }
    }
    /******** ESTILOS DEL MAPA DE UBICACION ********/
    iframe{
        width: 100%;
    }
    /******** ESTILOS PARA DESKTOPS ********/
    @media only screen and (min-width: 1024px){
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,auto);
        grid-template-areas:
            "titulo titulo"
            "formulario mapa"
            "escribenos mapa";
        gap: $gapContacto;
        h2{
            grid-area: titulo;
        }
        form{
            grid-area: formulario;
        }
        .redes{
            grid-area: escribenos;
        }
        iframe{
            grid-area: mapa;
            height: 100%;
        }
    }
}
/******** FIN CONTACTO ********/