/******** CONTACTO ********/
.contacto{
    form{
        fieldset{
            display: grid;
            grid-template-columns: 5rem 1fr;
            grid-template-rows: repeat(6,auto);
            font-weight: $fuenteGeneralBold;
            padding: 1rem;
            border: 0px;
            box-shadow: $boxShadow;
            gap: 0.5rem;
            .nombre{
                grid-column: 1;
            }
            .inputN{
                grid-column: 2;
            }
            .apellido{
                grid-column: 1;
            }
            .inputA{
                grid-column: 2;
            }
            .email{
                grid-column: 1;
            }
            .inputE{
                grid-column: 2;
            }
            .asunto{
                grid-column: 1/3;
                @media only screen and (min-width: 600px){
                    grid-column: 1;
                }
            }
            .inputAS{
                grid-column: 1/3;
                @media only screen and (min-width: 600px){
                    grid-column: 2;
                }
            }
            .comentarios{
                grid-column: 1/3;
            }
            .submit{
                grid-column: 1;
            }
        }
    }
    .instagram{
        display: flex;
        align-items: center;
        div{
            p{
                margin: 0rem;
            }
        }
        .media{
            font-size: $tamanoIconoMedia;
        }
    }
    iframe{
        width: 100%;
    }
    @media only screen and (min-width: 1024px){
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,auto);
        grid-template-areas:
            "titulo titulo"
            "formulario mapa"
            "escribenos mapa";
        gap: $gapContacto;
        h2{
            grid-area: titulo;
        }
        form{
            grid-area: formulario;
        }
        .instagram{
            grid-area: escribenos;
        }
        iframe{
            grid-area: mapa;
        }
    }
}