/******** ESTUDIO ********/
.estudio{
    video {
        width: 100%;
    }
    h2, h3 {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }
    h2{
        @extend %font-h1;
    }
    h3{
        @extend %font-h2;
    }

    /******** ESTILOS PARA LAS GALERIAS DE LAS SALAS ********/
    article{
        margin-bottom: $margenArticulo;
        gap: 0.5rem;
        .imagen1, .imagen2, .imagen3, .imagen4{
            width: 100%;
            img{
                width: 100%;
            }
        }
        @media only screen and (min-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(4,auto);
            grid-template-areas: 
                "titulo titulo"
                "imagen1 imagen1"
                "imagen2 imagen4"
                "imagen3 imagen4";
            h3{
                grid-area: titulo;
            }
            .imagen1{
                grid-area: imagen1;
            }
            .imagen2{
                grid-area: imagen2;
            }
            .imagen3{
                grid-area: imagen3;
            }
            .imagen4{
                grid-area: imagen4;
                margin: auto;
            }
            /*Lo siguiente es utilizado para mostrar
            de diferente manera la disposicion de las
            imagenes*/
            &.invertido{
                grid-template-areas: 
                "titulo titulo"
                "imagen1 imagen1"
                "imagen4 imagen2"
                "imagen4 imagen3";
            }
        }
    }
}

/******** ESTILOS PARA LOS MODALES ********/
.modal-estudio{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $colorFondoModal;
    display: none;
    z-index: 17;
    /******** DISPOSICION DE LOS ELEMENTOS ********/
    .modal{
        width: 100%;
        display: grid;
        grid-template-columns: 0.2fr 1fr 0.2fr;
        grid-template-rows: 2rem 1fr;
        grid-template-areas: 
            "nada imagen cerrar"
            "atras imagen siguiente";
            .close, .previo, .siguiente{
                display: flex;
                justify-content: center;
                align-items: center;
                color: #aaaaaa;
                font-size: 1.5rem;
            }
            .close{
                grid-area: cerrar;
            }
            .previo{
                grid-area: atras;
            }
            img{
                grid-area: imagen;
                margin: auto;
                width: 100%;
                &.imagen4{
                    max-width: 500px;
                }
            }
            .siguiente{
                grid-area: siguiente;
            }
    }
}
/******** ESTILOS PARA MOSTRAR LOS MODALES ********/
#sala1-imagen1:target, #sala1-imagen2:target, #sala1-imagen3:target, #sala1-imagen4:target,
#sala2-imagen1:target, #sala2-imagen2:target, #sala2-imagen3:target, #sala2-imagen4:target,
#sala3-imagen1:target, #sala3-imagen2:target, #sala3-imagen3:target, #sala3-imagen4:target,
#sala4-imagen1:target, #sala4-imagen2:target, #sala4-imagen3:target, #sala4-imagen4:target{
    display: flex;
    justify-content: center;
    align-items: center;
}

/******** FIN DE ESTUDIO ********/