/******** HEADER ********/
.logo{
    width: 5rem;
}

header{
    position: sticky;
    top: 0px;
    background-color: #000000;
    z-index: 16; /*ESTE NUMERO ES ASI PORQUE LOS INDICADORES DE BOOSTRAP TIENEN Z-INDEX 15*/
    nav{
        display: flex;
        text-transform: uppercase;
        font-size: $tamanoTextoBase;
        align-items: center;
        justify-content: space-between;
        ul{
            align-items: center;
            li{
                margin-left: $margenLinksNav;
                transition: transform 0.1s;
                a{
                    color: #ffffff;
                    font-weight: $fuenteGeneralBold;
                }
                &:hover{
                    transform: scale(1.15);
                }
            }
        }
    }
}

/******** FOOTER ********/
/*-------tengo que corregir que no esta "pegado" al fondo de la pagina------*/
footer{
    background-color: $colorBase;
    color: $colorPrincipal;
    font-weight: $fuenteGeneralRegular;
    font-size: $tamanoTextoFooter;
    margin-top: $margenSecciones;
    .media{
        font-size: $tamanoIconoMedia;
        background-color: $colorSecundario;
        color: $colorPrincipal;
        display: none;
        &:hover{
            color: $colorHoverLinks;
        }
        @media only screen and (min-width: 1024px){
            display: inline-block;
        }
    }
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}