/******** ESTILOS DEL LOGO ********/
.logo{
    width: 5rem;
}
/******** FIN DE ESTILOS DEL LOGO ********/

/******** HEADER ********/
header{
    position: sticky;
    top: 0px;
    background-color: #000000;
    z-index: 16; /*ESTE NUMERO ES ASI PORQUE LOS INDICADORES DE BOOSTRAP TIENEN Z-INDEX 15*/
    div{
        display: flex;
        font-size: $tamanoTextoBase;
        align-items: center;
        justify-content: space-between;
        /******** ESTILOS DEL ICONO DE MENU ********/
        .menu{
            font-size: 1.5rem;
            @media only screen and (min-width: 600px){
                display: none;
            }
        }
        /******** ESTILOS DE LA NAVEGACION ********/
        a{
            color: #ffffff;
        }
        nav{
            .close{
                font-size: 1.5rem;
                @media only screen and (min-width: 600px){
                    display: none;
                }
            }
            .nav{
                align-items: center;
                li{
                    margin-left: $margenLinksNav;
                    transition: transform 0.1s;
                    text-transform: uppercase;
                    a{
                        font-weight: $fuenteGeneralBold;
                    }
                    &:hover{
                        transform: scale(1.15);
                    }
                }
            }
            .redes{
                @media only screen and (min-width: 600px){
                    display: none;
                }
            }

            /******** ESTILOS DEL NAV PARA MOBILE ********/
            @media only screen and (max-width: 600px){
                position: fixed;
                top: 0;
                left: -100%;
                width: 70%;
                height: 100vh;
                padding-left: 1.5rem;
                padding-top: 1.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: $colorPrincipal;
                transition: left 0.5s;
                .nav{
                    flex-direction: column;
                    align-items: flex-start;
                    li{
                        margin-bottom: 2rem;
                        margin-left: 0;
                        transition: transform 0.1s;
                        a{
                            font-weight: $fuenteGeneralBold;
                        }
                        &:hover{
                            transform: scale(1.15);
                        }
                    }
                }
                &#menu:target{
                    left: 0;
                }
                .close{
                    display: inline;
                    width: fit-content;
                }
                /******** ESTILOS PARA REDES ********/
                .redes{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: $margenSecciones;
                    .instagram, .youtube{
                        display: flex;
                        align-items: center;
                        margin-bottom: $margenParrafos;
                        p{
                            color: #ffffff;
                            margin: 0px;
                            padding-right: 1rem;
                            font-size: 0.75rem;
                            display: none;
                            @media only screen and (min-width: 300px){
                                display: block;
                            }
                        }
                        .media{
                            font-size: $tamanoIconoSiguenos;
                            padding-right: 1rem;
                        }
                    }
                }
            }
        }
    }
}
/******** FIN DEL HEADER ********/

/******** FOOTER ********/
footer{
    background-color: $colorBase;
    color: $colorPrincipal;
    font-weight: $fuenteGeneralRegular;
    font-size: $tamanoTextoFooter;
    margin-top: $margenSecciones;
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /******** ESTILOS DE ICONOS DE REDES ********/
    .media{
        font-size: $tamanoIconoMedia;
        background-color: $colorSecundario;
        color: $colorPrincipal;
        display: none;
        &:hover{
            color: $colorHoverLinks;
        }
        @media only screen and (min-width: 1024px){
            display: inline-block;
        }
    }
}
/******** FIN DEL FOOTER ********/