/******** NOTICIAS ********/
.noticias, .recientes {/*Chequear sacar el margen para los titulos de las noticias*/
    margin-top: $margenSecciones;
    margin-bottom: $margenSecciones;
    justify-content: space-around;
    margin-bottom: $margenTitulos;
    h2{
        @extend %font-h1;
    }
    &.noticias-encuadre{
        @extend %encuadre;
    }
    .noticias_titulo{
        &.noticias_titulo-centrado{
            @extend %centrado;
        }
    }
    .noticias_parrafo{
        &.noticias_parrafo-centrado{
            @extend %centrado;
        }
    }

    li{
        @include card(100%, true);
        transition: transform 0.2s;
        h3{
            margin: 0px;
            font-family: $fuenteGeneral;
            padding: 1rem;
        }
        img, h3{
            width: 100%;
        }
        /******** ESTILOS PARA TABLETS ********/
        @media only screen and (min-width: 600px){
            width: 40%;
            margin: $margenNoticias;
        }
        /******** ESTILOS PARA DESKTOP (O TABLETS GRANDES EN HORIZONTAL) ********/
        @media only screen and (min-width: 1024px){
            width: 20%;
        }
    }
    .recientes{
        justify-content: space-around;
        margin-bottom: $margenTitulos;
        .noticia4{
            display: none;
            /******** ESTILOS PARA TABLETS ********/
            @media only screen and (min-width: 600px){
                display: unset;
            }
        }
    }
}

