/******** NOTICIAS ********/
.noticias, .recientes {/*Chequear sacar el margen para los titulos de las noticias*/
    margin-top: $margenSecciones;
    margin-bottom: $margenSecciones;
    justify-content: space-around;
    margin-bottom: $margenTitulos;

    li{
        border: $bordeNoticas;
        margin-right: 0rem;
        margin-bottom: $margenNoticias;
        width: 100%;
        box-shadow: $boxShadow;
        transition: transform 0.2s;
        h3{
            margin: 0px;
        }
        img, .noticias h3{
            width: 100%;
        }
        &:hover{
            border: $bordeNoticasHover;
            transform: scale(1.05);
        }
        /******** ESTILOS PARA TABLETS ********/
        @media only screen and (min-width: 600px){
            width: 40%;
            margin: $margenNoticias;/*chequear si existe otra propiedad*/
        }
        /******** ESTILOS PARA DESKTOP (O TABLETS GRANDES EN HORIZONTAL) ********/
        @media only screen and (min-width: 1024px){
            width: 20%;
        }
    }
    .recientes{
        justify-content: space-around;
        margin-bottom: $margenTitulos;
        .noticia4{
            display: none;
            /******** ESTILOS PARA TABLETS ********/
            @media only screen and (min-width: 600px){
                display: unset;
            }
        }
    }
}
