/******** NOTICIAS ********/
/*Los estilos aqui se aplican tambien a las noticias
recientes presentes en la pagina de HOME*/
.noticias, .recientes {
    margin-top: $margenSecciones;
    margin-bottom: $margenSecciones;
    justify-content: space-around;
    margin-bottom: $margenTitulos;
    h2{
        @extend %font-h1;
    }
    &.noticias-encuadre{
        @extend %encuadre;
    }
    .noticias_titulo{
        &.noticias_titulo-centrado{
            @extend %centrado;
        }
    }
    .noticias_parrafo{
        &.noticias_parrafo-centrado{
            @extend %centrado;
        }
    }

    /******** ESTILOS PARA LAS CARDS DE NOTICIAS ********/
    li{
        @include card(100%, true);
        transition: transform 0.2s;
        h3{
            margin: 0px;
            font-family: $fuenteGeneral;
            padding: 1rem;
        }
        img, h3{
            width: 100%;
        }
        @media only screen and (min-width: 600px){
            width: 40%;
            margin: $margenNoticias;
        }
        @media only screen and (min-width: 1024px){
            width: 20%;
        }
    }
    /******** ESTILOS ESPECIFICOS PARA NOTICIAS RECIENTES ********/
    .recientes{
        justify-content: space-around;
        margin-bottom: $margenTitulos;
        .noticia4{
            display: none;
            @media only screen and (min-width: 600px){
                display: unset;
            }
        }
    }
}

/******** FIN DE NOTICIAS ********/