/******** RESET ********/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: $fuenteGeneral;
    letter-spacing: $espaciadoLetras;
    word-spacing: $espaciadoPalabras;
    color: $colorTexto;
}

a{
    text-decoration: none;
    color: $colorTexto;
}
a:hover{
    color: $colorHoverLinks;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

li{
    list-style: none;
}

p{
    font-size: $tamanoTextoBase;
    margin-bottom: $margenParrafos;
    margin-top: $margenParrafos;
    color: $colorTexto;
}

span{
    font-family: $fuenteTitulos;
}

h1, h2, h3 {
    margin-top: $margenTitulos;
    margin-bottom: $margenTitulos;
    font-family: $fuenteTitulos;
}

h1, %font-h1{
    font-size: 2.2 * $tamanoTextoBase;
}
h2, %font-h2{
    font-size: 1.7 * $tamanoTextoBase;
}
h3, %font-h3{
    font-size: 1.20 * $tamanoTextoBase;
}
h4, %font-h4{
    font-size: $tamanoTextoBase;
}
/******** FIN DE RESET ********/

/******** ESTILOS GENERALES UTILES ********/
.no-display{
    display: unset;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

%centrado{
    text-align: center;
}

%encuadre{
    border: $encuadre;
}

@mixin card ($ancho, $link: false){
    width: $ancho;
    margin-bottom: $margenCard;
    box-shadow: $boxShadow;
    @if $link == true{
        border: $bordeCards;
        &:hover{
            border: $bordeCardsHover;
            transform: scale(1.05);
        }
    } @else{
        border: 0px;
    }
}
/******** FIN DE ESTILOS GENERALES UTILES ********/