/******** STAFF ********/
.staff{
    ul{
        /*justify-content: space-between;*/
        flex-direction: column;
        .article{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: $margenStaff 0rem;
            box-shadow: $boxShadow;
            img{
                width: 100%;/*SE DEBE RE VER*/
                @media only screen and (min-width: 600px){
                    width: 400px;
                }
                @media only screen and (min-width: 1024px){
                    width: 250px;
                }
            }
            div{
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 2rem;
                .nombre{
                    grid-column: 1/3;
                    margin-bottom: $margenStaffNombre;
                }
                .estilo{
                    grid-column: 1/3;
                }
                .nivel{
                    grid-column: 1/3;
                    text-decoration: underline;
                    font-weight: $fuenteGeneralRegular;
                }
                .horarios{
                    font-weight: $fuenteGeneralRegular;
                    grid-column: 1;
                    padding-left: 1rem;
                    margin-bottom: $margenStaffHorarios;
                }
                .instagram{
                    grid-column: 2;
                    display: inline-block;
                    margin: auto;
                    i{
                        font-size: $tamanoIconoStaff;
                        background-color: transparent;
                    }
                    &:hover{
                        animation-name: agitar;
                        animation-duration: 0.2s;
                        animation-timing-function: linear;
                    }
                }
            }
            @media only screen and (min-width: 600px){
                align-items: unset;
                flex-direction: row;
            }
            @media only screen and (min-width: 1024px){
                width: 49%;
            }
        }
        @media only screen and (min-width: 600px){
            flex-direction: column;
        }
        @media only screen and (min-width: 1024px){
            justify-content: space-between;
            flex-direction: row;
        }
    }
}
@keyframes agitar{
    25%{
        transform: rotate(45deg);
    }
    75%{
        transform: rotate(-45deg);
    }
}