/******** STAFF ********/
.staff{
    h2{
        @extend %font-h1;
    }
    h3{
        @extend %font-h2;
    }
    /******** ESTILOS PARA LAS CARDS DEL STAFF ********/
    ul{
        flex-direction: column;
        .article{
            @include card(unset);
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: 1fr auto auto;
            grid-template-areas: 
                "img img"
                "data nada"
                "data insta";
            
            /******** ESTILOS DE LAS IMAGENES ********/
            img{
                width: 100%;
                grid-area: img;
                @media only screen and (min-width: 600px){
                    width: 300px;
                }
                @media only screen and (min-width: 700px){
                    width: 400px;
                }
                @media only screen and (min-width: 1078px){
                    width: 250px;
                }
            }

            /******** ESTILOS DE LOS DATOS DE LAS CARDS ********/
            div{
                h4{
                    @extend %font-h3;
                }
                h5, h6{
                    @extend %font-h4;
                }
                grid-area: data;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                padding: 1.5rem;
                padding-right: 0px;
                .nombre{
                    margin-bottom: $margenStaff;
                }
                .estilo{
                    margin-bottom: $margenStaff;
                }
                .nivel{
                    text-decoration: underline;
                    font-weight: $fuenteGeneralRegular;
                }
                .horarios{
                    font-weight: $fuenteGeneralRegular;
                    padding-left: 1rem;
                    margin-bottom: $margenStaffHorarios;
                }
            }

            /******** ESTILOS DEL ICONO DE INSTAGRAM ********/
            .instagram{
                grid-area: insta;
                display: inline-block;
                i{
                    font-size: $tamanoIconoStaff;
                    background-color: transparent;
                    @media only screen and (min-width: 1078px){
                        font-size: 2rem;
                    }
                }
                &:hover{
                    animation-name: agitar;
                    animation-duration: 0.2s;
                    animation-timing-function: linear;
                }
            }
            @media only screen and (min-width: 600px){
                grid-template-columns: auto 1fr auto;
                grid-template-rows: 1fr auto;
                grid-template-areas: 
                    "img data nada"
                    "img data insta";
            }
            @media only screen and (min-width: 1078px){
                width: 49%;
            }
        }
        @media only screen and (min-width: 600px){
            flex-direction: column;
        }
        @media only screen and (min-width: 1078px){
            justify-content: space-between;
            flex-direction: row;
        }
    }
}

/******** ANIMACIONES ********/
@keyframes agitar{
    25%{
        transform: rotate(45deg);
    }
    75%{
        transform: rotate(-45deg);
    }
}
/******** FIN DE STAFF ********/